<span class="but-combat-body">
    {{#if isCombat}}
    <nav class="but-flex-list">
        {{#each combatants}}
        <span class="but-combatant {{#if this.is_dead}}but-dead-combatant{{/if}} but-flex-item">

            <div>
                <a data-id="{{this.tokenId}}" class="combat_window_actor">{{this.token.name}}</a>
            </div>
            <div>
                <i class="fa fa-heart" aria-hidden="true"></i>
                {{#if this.max_hp}}
                {{this.current_hp}}/{{this.max_hp}}
               <i class="fas fa-shield-alt"></i>{{ this.ac.value }}
                {{/if}}
            </div>
        </span>

        {{/each}}
    </nav>
    {{/if}}
    {{#unless isCombat}}
        <em>{{message}}</em>
    {{/unless}}

</span>
